# Compiled binaries
*.exe
*.out
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Build directories
build/
bin/
out/

# IDE / Editor files
.vscode/
.idea/
*.code-workspace

# Windows junk
Thumbs.db
desktop.ini
